# Configuracion de Base de Datos AWS - Proyecto Academico
DB_TYPE=mysql
DB_HOST=database-sistemaacademico.c9ossseayip6.us-east-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=database_sistemaacademico
DB_USER=admin
DB_PASSWORD=Solomillos2025++

# API local
API_PORT=3000
CORS_ORIGIN=http://localhost:4200,https://juandiegoayalacastillo3-ctrl.github.io
